<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="recursos/js/productosM.js"></script>
  <link rel="stylesheet" href="recursos/css/styleindex.css">
  <link rel="stylesheet" href="recursos/css/styleproductos.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito+Sans:opsz,wght@6..12,300&display=swap" rel="stylesheet">
  <title>Leiza-Shop</title>
</head>

<body>
  <header>
    <nav>
      <div class="header-info">

        <div class="header-info-logo">
          <a href="/">
            <img src="recursos/img/Leiza-Logo.svg" alt="Leiza-Logo" />
          </a>
        </div>
        <ul class="header-info-login">
          <li><img class="icon-user" src="recursos/img/icon-user.svg" alt="icon-user"> <span>Iniciar Sesión</span></li>
        </ul>

      </div>
      <div class="header-categories">

        <ul class="header-categories-list">
          <li class="btn-Blusas"><img src="recursos/img/Catalogo/Mujer/blusa.png" alt="Blusa"><span>Blusas</span></li>
          <li class="btn-Vestidos"><img src="recursos/img/Catalogo/Mujer/vestido.png" alt="Vestido"><span>Vestidos</span></li>
          <li class="btn-Chamarras"><img src="recursos/img/Catalogo/Mujer/chamarra.png" alt="Chamarra"><span>Chamarras</span></li>
          <li class="btn-Sudaderas"><img src="recursos/img/Catalogo/Mujer/sudadera.png" alt="Sudadera"><span>Sudaderas</span></li>
          <li class="btn-Playeras"><img src="recursos/img/Catalogo/Mujer/playera.png" alt="Playera"><span>Playeras</span></li>
          <li class="btn-Calzado"><img src="recursos/img/Catalogo/Mujer/calzado.png" alt="Calzado"><span>Calzado</span></li>
          <li class="btn-Sacos"><img src="recursos/img/Catalogo/Mujer/saco.png" alt="Sacos"><span>Sacos y Abrigos</span></li>
          <li class="btn-Camisas"><img src="recursos/img/Catalogo/Mujer/camisa.png" alt="Camisa"><span>Camisas</span></li>
          <li class="btn-Pantalones"><img src="recursos/img/Catalogo/Mujer/pantalon.png" alt="Pantalon"><span>Pantalones</span></li>
          <li class="btn-Bolsos"><img src="recursos/img/Catalogo/Mujer/bolso.png" alt="Bolso"><span>Bolsos</span></li>
          <li class="btn-Faldas"><img src="recursos/img/Catalogo/Mujer/falda.png" alt="Falda"><span>Shorts y Faldas </span></li>
        </ul>


      </div>
    </nav>
  </header>

  <section class="seccion sec-Blusas">
    <div class="contenido">
      <h1>Blusas</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==9){ %>
        <div class="item">
          <img src="<%= prenda.IMAGEN %>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
    </div>
  </section>

  <section class="seccion sec-Vestidos">
    <div class="contenido">
      <h1>Vestidos</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==8){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Chamarras">
    <div class="contenido">
      <h1>Chamarras</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==1){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Sudaderas">
    <div class="contenido">
      <h1>Sudaderas</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==3){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Playeras">
    <div class="contenido">
      <h1>Playeras</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==2){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Calzado">
    <div class="contenido">
      <h1>Calzado</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==7){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Sacos">
    <div class="contenido">
      <h1>Sacos y Abrigos</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==17){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Camisas">
    <div class="contenido">
      <h1>Camisas</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==5){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Pantalones">
    <div class="contenido">
      <h1>Pantalones</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==6){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Bolsos">
    <div class="contenido">
      <h1>Bolsos</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==15){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>

  <section class="seccion sec-Faldas">
    <div class="contenido">
      <h1>Shorts y Faldas</h1>
      <div class="items">
        <% if(typeof data != 'undefined') { %>
        <% data.forEach( (prenda) => { %>
        <% if(prenda.ID_CAT==11 || prenda.ID_CAT==13){ %>
        <div class="item">
          <img src="<%=prenda.IMAGEN%>" alt="<%= prenda.NOMBRE %>">
          <div class="producto-info">
            <span><%= prenda.NOMBRE %></span>
            <span class="precio">MXN <%= prenda.PRECIO %></span>
          </div>
        </div>
        <% } %>
        <% }) %>
        <% } %>
      </div>
  </section>
  

</body>

</html>